# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# Next.js
.next/
out/

# OS
.DS_Store
Thumbs.db

# Env files
.env*

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Misc
*.swp
*.swo

# Coverage
coverage/

# Build
build/
